.container {
  border: 2px solid var(--color-primary);
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
.icon {
  font-size: 18px;
}

.switcher {
  width: 25px;
  aspect-ratio: 1/1;
  background: var(--color-primary);
  border-radius: 9999px;
  position: absolute;
  transition: all 0.3s ease-in-out;
}
